@mixin glassmorph{
    background: rgba(42, 42, 42, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 50px );
    border: 1px solid rgba( 255, 255, 255, 0.20 );
  }

 

.dockapps{
    
   
    li {
        list-style: none;
        img{
            transform:translate(-5px, 2px)
        }
        span{
            position: relative;
            bottom:3px
        }
    }
    &-finder{
        // default position when finder app opens
        position: fixed;
        left:400px;
        top:100px;
        min-width: 680px;
        z-index:1;

        &-left{
            // border + background effects
            background-color: rgba(162, 162, 162, 0.5);
            display: inline-block;
            @include glassmorph();
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            min-height: 500px;
            &-buttons{
                padding-left: 20px ;
                padding-bottom: 20px;
                
                
                &-red{
                    margin:4px;
                    padding: 5px;
                    background-color: red;
                    border-style: none;
                    border-radius: 10px;
                    cursor: pointer;
                }
                &-yellow{
                    margin:4px;
                    padding: 5px;
                    background-color: rgb(255, 217, 0);
                    border-style: none;
                    border-radius: 10px;
                    cursor: pointer;

                }
                &-green{
                    margin:4px;
                    padding: 5px;
                    background-color: rgb(111, 255, 0);
                    border-style: none;
                    border-radius: 10px;

                }
            }
            &-favourites{
                
                &-list{
                    &-header{
                        color: rgba(255, 255, 255, 0.5);
                        padding-left:30px;
                        padding-right:30px;
                        padding-top:5px;
                        padding-bottom:5px;
                    }
                    &-items{
                        padding-left:20px;
                        padding-right:20px;
                        padding-top:2px;
                        padding-bottom:2px;
                        margin-left:10px;
                        margin-right:10px;
                        margin-bottom: 2px;
                        margin-top: 2px;
                    }
                    &-items:hover{
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.2);
                    }
                }
                
            }
            
            

        }
        &-right{
            background-color: rgb(37, 37, 37);
            display: inline-block;
            position: absolute;
            min-height: 500px;
            min-width: 500px;
            border: 1px solid rgba( 255, 255, 255, 0.20 );
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &-header{
                background-color:  rgb(58, 58, 58);
                padding: 20px;
                padding-left: 60px;
            }
            &-list{
                
                padding-left: 70px;
                display: grid;
                grid-template-columns: 150px 150px 150px ;
                &-items{
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    a:hover {
                        img{
                            background-color: rgba(174, 229, 253, 0.5);
                            border-radius:10px;
                            
                        }
                        p{
                            background-color:#0486ff;
                            max-width: fit-content;
                            border-radius:4px;
                            
                            
                        }
                        
                        
                    }
                    img{
                        margin-top: 5px;
                        width: 70px;
                    }
                    p{
                        margin-top: 5px;
                        padding: 2px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    #resume {
                        position: relative;
                        right:5px;
                    }
                    #poems{
                        margin-left:0px
                    }
                    #personal-website{
                        position: relative;
                        right:30px;
                    }
                    #project-1{
                        position: relative;
                        right:5px;
                    }
                    #project-2{
                        position: relative;
                        right:5px;
                    }
                }
            }

        }
    }
}